<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hinnasto</title>
</head>
<body>
  <div class="creator-template">
        <div class="creator-header pr-4">
          <p class="creator-header__date pb-0 mb-0">{{priceDate}}</p>
        </div>
        <div class="creator-table">
          <table class="pt-0">
            <colgroup>
              <col class="creator-table__column-one"/>
              <col class="creator-table__column-two"/>
              <col class="creator-table__column-three"/>
            </colgroup>
            <tbody>

            <tr class="creator-table__row">
              <td colspan="3" class="creator-table__title mt-0 pt-0">Hinnasto</td>
            </tr>
            <tr class="creator-table__row">
              <td colspan="3">
                <div class="creator-table__underline"></div> 
              </td>
            </tr>
            <tr class="creator-table__row">
              <td colspan="3" class="creator-table__min-price creator-table__min-price--pb-2">Minimihinta: {{minPrice}}</td>
            </tr>
            <tr class="creator-table__row">
              <td>
                <Switch class="creator-table__icon"/>
              </td>
              <td>Aloitusmaksu</td>
              <td>{{startPrice}} <span>&euro;</span></td>
            </tr>
            <tr>
              <td class="creator-table__plus" colspan="3">
                <Plus class="creator-table__plus-icon"/>
              </td>
            </tr>
            <tr class="creator-table__row">
              <td>
                <Road class="creator-table__icon"/>
              </td>
              <td>Matka</td>
              <td>{{distance}} <span>&euro;</span>/km</td>
            </tr>
            <tr>
              <td class="creator-table__plus" colspan="3">
              <Plus class="creator-table__plus-icon"/>
              </td>
            </tr>
            <tr class="creator-table__row">
              <td>
                <Time
                  class="creator-table__icon--time"
                  fill="none"
                />
              </td>
              <td>Aika</td>
              <td>{{duration}} <span>&euro;</span>/min</td>
            </tr>
            <tr class="creator-table__row">
              <td colspan="3">
                <div class="creator-table__underline"></div> 
              </td>
            </tr>
            <tr class="creator-table__row">
              <td>
                <Zone class="creator-table__icon"/>
              </td>
              <td>Vyöhyke</td>
              <td>{{zone}} <span>&euro;</span></td>
            </tr>
            </tbody>
          </table>
        </div>  
        <div class="creator-footer">
          <div class="creator-footer__adress">
            <p class="mt-1">{{city}}, {{street}}, {{index}} {{city}}</p>
            <p>Puh.{{phone}} ({{phoneOpenOurs}}), {{email}} ({{emailOpenOurs}})</p>

          </div>
        </div>
      </div>
    </div>  
</body>
</html>


